@import './tailwind.css';

@font-face {
  font-family: 'Domine';
  src: url('/fonts/Domine.ttf');
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist.woff2') format('woff2');
}

@media(prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}
