{% extends "base.html" %}

{% block content %}
  <div class="my-16 space-y-4">
    <div class="space-y-4">
      <a href="/" class="block">
        <h1 class="text-3xl font-semibold">Sabu Siyad's Blog</h1>
      </a>
      {% block header %}
      {% endblock %}
      {% block main %}
      {% endblock %}
    </div>
    <footer class="text-sm text-center pt-4 border-t-2 border-brand">
      The content for this site is
      <a
        href="https://creativecommons.org/licenses/by-sa/2.0/"
        class="font-medium"
        >CC-BY-SA</a
      >. The
      <a href="https://github.com/ssiyad/ssiyad.github.io" class="font-medium"
        >code for this site</a
      >
      is
      <a href="https://opensource.org/licenses/MIT" class="font-medium">MIT</a>.
    </footer>
  </div>
{% endblock %}
