<div id='about' class='relative min-h-lvh w-screen bg-brand-light'>
	<div class='container mx-auto pt-20'>
		<h1
			class='text-transparent text-stroke-1 text-stroke-brand-primary text-[342px] leading-[90%] uppercase font-[900] text-center align-top tracking-[-4%] opacity-15 select-none'>
			about
		</h1>
		<div class='py-20 mx-auto leading-loose space-y-4 text-slate-700'>
			<p>
				I absolutely adore crafting products that folks find a breeze to use and genuinely love. Ensuring
				user-friendliness is my top priority in design, because I'm a firm believer that the best products
				aren't just useful, but also super simple to use. My ultimate goal? To make life a little bit easier for
				us humans, by whipping up tools that assist in zipping through tasks with ease and efficiency.
			</p>
			<p>
				My toolkit is pretty broad and includes a bunch of programming languages. Python is my first love and
				go-to language for most use cases. I'm also pretty handy with Typescript, which I use a lot for building
				applications that are easy to maintain and can scale up real nice. When in need of a web frontend, I
				often reach for Vue and Tailwind. Right now, I'm learning Rust, which is both a challenge and a
				revelation. On top of all that, I really dig checking out the latest and greatest technologies and
				messing around with them to learn new things and keep up with the tech scene. If you're curious about my
				work, feel free to check out some of my projects <a href='https://github.com/ssiyad'
					class="text-brand-secondary underline underline-offset-4">here</a>.
			</p>
			<p>
				When not immersed in the world of coding, you can find me reading a book, cheering for <a
					href='https://www.arsenal.com/'
					class="text-brand-secondary underline underline-offset-4">Arsenal</a>, or
				exploring new places . If you're curious about my travels, you can catch a glimpse through the photos I
				occasionally share on my <a href='https://www.instagram.com/sabu.siyad/'
					class="text-brand-secondary underline underline-offset-4">Instagram<a />!
			</p>
		</div>
		{% include "partials/page-down-arrow.html" %}
	</div>
</div>
