<div class='flex flex-col h-screen w-screen text-brand-light'
	style='background: linear-gradient(90deg, #1F2551 0%, #120B4F 100%)'>
	{% include "partials/header.html" %}
	<div class='container mx-auto grow relative'>
		<h1
			class='text-transparent text-stroke-1 text-stroke-brand-light text-[342px] leading-[90%] uppercase font-[900] text-center align-top tracking-[-4%] opacity-15 select-none'>
			ssiyad
		</h1>
		<div class='absolute bottom-[60px] z-10 drop-shadow'>
			<p class='font-medium text-5xl'>
				Hello 👋，<br />
				I am Sabu Siyad
			</p>
			<p class='text-sm uppercase tracking-[10.5%] opacity-45 mt-1.5'>
				A generalist and pragmatic software architect.
			</p>
			<p class='mt-9 max-w-[368px]'>
				- 'Which is more important,' asked Big Panda, 'the journey or the destination?' 'The company,' said Tiny
				Dragon.
			</p>
		</div>
		<a href='https://github.com/ssiyad/ssiyad.github.io' target='_blank'>
			<div class='absolute flex items-center gap-2 right-0 bottom-[60px] text-brand-tertiary'>
				<iconify-icon icon="fa6-brands:git-alt" width='24' height='24' class="w-max drop-shadow text-brand-secondary"></iconify-icon>
				Source Code
				<iconify-icon icon="lucide:arrow-up-right" width='16' height='16' class="w-max drop-shadow"></iconify-icon>
			</div>
		</a>
		<img src='/images/hero.svg' alt='Sabu Siyad' class='absolute left-1/2 -translate-x-1/2 bottom-0 max-w-prose' />
	</div>
</div>
