<div class='flex flex-col w-screen h-screen text-brand-light'
     style='background: linear-gradient(90deg, #1F2551 0%, #120B4F 100%)'>
  {% include "partials/header.html" %}
  <div class='container relative mx-auto grow'>
    <h1 class='text-transparent text-stroke-1 text-stroke-brand-light text-[342px] leading-[90%] uppercase font-[900] text-center align-top tracking-[-4%] opacity-35 select-none'>
      ssiyad
    </h1>
    <div class='absolute z-10 bottom-[60px] drop-shadow'>
      <p class='text-5xl font-medium'>
        Hello 👋，
        <br />
        I am Sabu Siyad
      </p>
      <p class='text-sm uppercase tracking-[10.5%] opacity-45 mt-1.5'>A generalist and pragmatic software architect.</p>
      <p class='mt-9 max-w-[368px]'>
        - 'Which is more important,' asked Big Panda, 'the journey or the destination?' 'The company,' said Tiny
        Dragon.
      </p>
    </div>
    <a href='https://github.com/ssiyad/ssiyad.github.io' target='_blank'>
      <div class='flex absolute right-0 gap-2 items-center bottom-[60px] text-brand-tertiary'>
        <iconify-icon icon="fa6-brands:git-alt" width='24' height='24' class="w-max drop-shadow text-brand-secondary"></iconify-icon>
        Source Code
        <iconify-icon icon="lucide:arrow-up-right" width='16' height='16' class="w-max drop-shadow"></iconify-icon>
      </div>
    </a>
    <img src='/images/hero.svg'
         alt='Sabu Siyad'
         class='absolute bottom-0 left-1/2 -translate-x-1/2 max-w-[570px]' />
    {% include "partials/page-down-arrow.html" %}
  </div>
</div>
