<div id='links' class='relative mx-auto w-svw min-h-svh bg-brand-primary'>
  <h1 class='hidden sm:block text-transparent text-stroke-1 text-stroke-brand-secondary text-[342px] leading-[90%] uppercase font-[900] text-center align-top tracking-[-4%] opacity-50 select-none'>
    links
  </h1>
  <div class="flex flex-wrap gap-4 justify-center items-center py-20 mx-auto sm:py-0 text-brand-light w-[316px] sm:w-[514px]">
    <a href='https://www.linkedin.com/in/ssiyad/' target='_blank'>
      <div class='flex flex-col justify-between p-4 rounded-3xl size-[150px]'
           style='background: linear-gradient(135deg, #3C75C6 0%, #144589 100%)'>
        <iconify-icon icon="fa6-brands:linkedin-in" width='28' height='28' class="w-max drop-shadow"></iconify-icon>
        <div>
          <p class='font-semibold drop-shadow'>LinkedIn</p>
          <p class='text-sm drop-shadow'>@ssiyad</p>
        </div>
      </div>
    </a>
    <a href='https://github.com/ssiyad/' target='_blank'>
      <div class='flex flex-col justify-between p-4 rounded-3xl size-[150px]'
           style='background: linear-gradient(135deg, #24292E 0%, #09090A 100%)'>
        <iconify-icon icon="fa6-brands:github" width='28' height='28' class="w-max drop-shadow"></iconify-icon>
        <div>
          <p class='font-semibold drop-shadow'>GitHub</p>
          <p class='text-sm drop-shadow'>@ssiyad</p>
        </div>
      </div>
    </a>
    <a href='https://www.instagram.com/sabu.siyad/' target='_blank'>
      <div class='flex flex-col justify-between p-4 bg-cover rounded-3xl size-[150px]'
           style='background-image: url(/images/instagram_bg.png)'>
        <iconify-icon icon="fa6-brands:instagram" width='28' height='28' class="w-max drop-shadow"></iconify-icon>
        <div>
          <p class='font-semibold drop-shadow'>Instagram</p>
          <p class='text-sm drop-shadow'>@sabu.siyad</p>
        </div>
      </div>
    </a>
    <a href='https://t.me/ssiyad' target='_blank'>
      <div class='flex flex-col justify-between p-4 rounded-3xl size-[150px]'
           style='background: linear-gradient(135deg, #229ED9 0%, #0A85C2 100%)'>
        <iconify-icon icon="fa6-brands:telegram" width='28' height='28' class="w-max drop-shadow"></iconify-icon>
        <div>
          <p class='font-semibold drop-shadow'>Telegram</p>
          <p class='text-sm drop-shadow'>@ssiyad</p>
        </div>
      </div>
    </a>
    <a href='https://www.reddit.com/user/ssiyad' target='_blank'>
      <div class='flex flex-col justify-between p-4 rounded-3xl size-[150px]'
           style='background: linear-gradient(135deg, #FF4500 0%, #5F99CF 100%)'>
        <iconify-icon icon="fa6-brands:reddit-alien" width='28' height='28' class="w-max drop-shadow"></iconify-icon>
        <div>
          <p class='font-semibold drop-shadow'>Reddit</p>
          <p class='text-sm drop-shadow'>@ssiyad</p>
        </div>
      </div>
    </a>
  </div>
  {% include "partials/copyright.html" %}
</div>
