<div id='links' class='h-screen w-screen bg-brand-primary'>
	<div class='container mx-auto pt-20 relative h-full'>
		<h1
			class='text-transparent text-stroke-1 text-stroke-brand-secondary text-[342px] leading-[90%] uppercase font-[900] text-center align-top tracking-[-4%] opacity-50 select-none'>
			links
		</h1>
		<div class='absolute inset-0 size-full flex items-center justify-center'>
			<div class="max-w-[514px] flex items-center justify-center flex-wrap gap-4 text-brand-light">
				<a href='https://www.linkedin.com/in/ssiyad/' target='_blank'>
					<div class='size-[150px] rounded-3xl p-4 flex flex-col justify-end'
						style='background: linear-gradient(135deg, #3C75C6 0%, #144589 100%)'>
						<p class='font-semibold'>LinkedIn</p>
						<p class='text-sm'>@ssiyad</p>
					</div>
				</a>
				<a href='https://github.com/ssiyad/' target='_blank'>
					<div class='size-[150px] rounded-3xl p-4 flex flex-col justify-end'
						style='background: linear-gradient(135deg, #24292E 0%, #09090A 100%)'>
						<p class='font-semibold'>GitHub</p>
						<p class='text-sm'>@ssiyad</p>
					</div>
				</a>
				<a href='https://www.instagram.com/sabu.siyad/' target='_blank'>
					<div class='size-[150px] rounded-3xl p-4 flex flex-col justify-end bg-cover'
						style='background-image: url(/images/instagram_bg.png);'>
						<p class='font-semibold'>Instagram</p>
						<p class='text-sm'>@sabu.siyad</p>
					</div>
				</a>
				<a href='https://t.me/ssiyad' target='_blank'>
					<div class='size-[150px] rounded-3xl p-4 flex flex-col justify-end'
						style='background: linear-gradient(135deg, #229ED9 0%, #0A85C2 100%)'>
						<p class='font-semibold'>Telegram</p>
						<p class='text-sm'>@ssiyad</p>
					</div>
				</a>
				<a href='https://www.reddit.com/user/ssiyad' target='_blank'>
					<div class='size-[150px] rounded-3xl p-4 flex flex-col justify-end'
						style='background: linear-gradient(135deg, #FF4500 0%, #5F99CF 100%)'>
						<p class='font-semibold'>Reddit</p>
						<p class='text-sm'>@ssiyad</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
