@import "tailwindcss";

@layer base {
  a {
    @apply hover:text-indigo-800 cursor-pointer;
  }
  .post {
    @apply leading-relaxed;
    a {
      @apply font-medium underline underline-offset-4;
    }
    code:not(pre code) {
      @apply px-1 bg-gray-200 rounded-md text-sm;
    }
    pre {
      @apply text-sm p-2 my-2 overflow-auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold mt-4 mb-2 text-lg;
    }
    strong {
      @apply font-medium;
    }
  }
}
