@import "tailwindcss";

@layer typography {
	a {
		@apply text-blue-600 hover:text-blue-800;
	}

	p {
		@apply leading-relaxed mb-4;
	}
	
	strong {
		@apply font-semibold;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-semibold mt-6 mb-2;
	}

	pre {
		@apply bg-gray-100 p-4 rounded wrap-break-word overflow-auto text-sm mb-4;
	}

	code:not(pre code) {
		@apply bg-gray-200 px-1 rounded text-sm;
	}

	blockquote {
		@apply border-l-4 border-gray-300 pl-4 italic text-gray-600 my-4;
	}

	ul {
		@apply mb-4 pl-6 list-disc;
	}

	ol {
		@apply mb-4 pl-6 list-decimal;
	}

	li {
		@apply mb-2;
	}
}

