@import "tailwindcss";

@theme {
  --color-brand: var(--color-indigo-200);
}

@layer base {
  body {
    @apply bg-black text-white/80 container max-w-3xl mx-auto px-4 sm:px-0;
  }
  a {
    @apply hover:text-brand cursor-pointer text-white;
  }
  .post {
    @apply leading-relaxed;
    a {
      @apply font-medium underline underline-offset-4;
    }
    code:not(pre code) {
      @apply px-1 bg-stone-900 rounded-md text-sm;
    }
    pre {
      @apply text-sm p-2 my-2 overflow-auto bg-stone-900!;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold mt-4 mb-2 text-lg text-white;
    }
    strong {
      @apply font-medium;
    }
    blockquote {
      @apply border-l-2 border-brand italic p-2 my-2 bg-stone-900;
    }
  }
}
